# fly.toml app configuration file generated for stalwart-ec0yva on 2026-01-02T17:07:24Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'stalwart-ec0yva'
primary_region = 'bom'

[build]

[[mounts]]
  source = 'stalwart'
  destination = '/opt/stalwart'

[http_service]
  internal_port = 443
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
