app = 'stalwart-ec0yva'
primary_region = 'bom'

[build]
  dockerfile = "Dockerfile.fly"

[[mounts]]
  source = 'stalwart'
  destination = '/opt/stalwart-mail'

# SMTP inbound
[[services]]
  internal_port = 25
  protocol = "tcp"
  [[services.ports]]
    port = 25

# SMTP submission
[[services]]
  internal_port = 587
  protocol = "tcp"
  [[services.ports]]
    port = 587

# IMAPS
[[services]]
  internal_port = 993
  protocol = "tcp"
  [[services.ports]]
    port = 993

# HTTPS/JMAP
[[services]]
  internal_port = 443
  protocol = "tcp"
  [[services.ports]]
    port = 443

# HTTP (for ACME/Let's Encrypt)
[[services]]
  internal_port = 8080
  protocol = "tcp"
  [[services.ports]]
    port = 80

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
